.body_vip_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.profile-card {
    width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-card h1 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-card p {
    margin-bottom: 10px;
}