body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="file"],
input[type="text"],
textarea,
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

textarea {
  height: 100px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    text-align: center;
    color: red;
    margin-bottom: 10px;
}

.success {
    text-align: center;
    color: green;
    margin-bottom: 10px;
}
